/* FRAMEWORK IN PROGRESS */

$content-width: 1340px;

// Functions
@function handle-columns($number) {
  $result: repeat(
    auto-fit,
    minmax(calc(#{$content-width}/#{$number} - 20px), 1fr)
  );

  @return $result;
}

// Main code
.grid {
  max-width: $content-width;
  padding: 0 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(#{$content-width}/ 3), 1fr)
  );

  @media screen and (max-width: calc(1440px / 4)) {
    grid-template-columns: 1fr;
  }

  @for $i from 1 through 12 {
    &[grid-layout^="#{$i}"] {
      grid-template-columns: handle-columns($i);
    }
  }

  $gap-var: 0;
  @while $gap-var <= 50 {
    &[grid-gap^="#{$gap-var}"] {
      grid-gap: $gap-var + px;
    }
    $gap-var: $gap-var + 5;
  }

  &[grid-align-items^="center"] {
    place-items: center;
  }

  &[grid-align-items^="left"] {
    place-items: start;
  }

  &[grid-align-items^="right"] {
    place-items: end;
  }

  & > * {
    max-width: 100%; /* make sure that all direct children have max width of 100% so they don't overflow parent */
  }

  &-blog {
    display: grid;
    max-width: $content-width;
    margin: 0 auto;
    grid-template-columns: repeat(
      auto-fill,
      minmax(calc(#{$content-width}/ 3), 1fr)
    );

    @media screen and (max-width: calc(1440px / 3)) {
      grid-template-columns: 1fr;
    }

    > * {
      &:first-child {
        grid-column: 1/-1;
      }
    }

    &[blog-type^="2"] {
      grid-template-columns: repeat(
        auto-fill,
        minmax(calc(#{$content-width}/ 3), 1fr)
      );

      @media screen and (max-width: calc(1440px / 3)) {
        grid-template-columns: 1fr;
      }

      > * {
        &:first-child {
          grid-column: 1/-1;
        }
      }
    }

    &[blog-type^="3"] {
      grid-template-columns: repeat(
        auto-fill,
        minmax(calc(#{$content-width}/ 4), 1fr)
      );

      @media screen and (max-width: calc(1440px / 4)) {
        grid-template-columns: 1fr;
      }

      > * {
        &:first-child {
          grid-column: 1/-1;
        }
      }
    }

    &[blog-type^="4"] {
      grid-template-columns: repeat(
        auto-fill,
        minmax(calc(#{$content-width}/ 5), 1fr)
      );

      @media screen and (max-width: calc(1440px / 5)) {
        grid-template-columns: 1fr;
      }

      > * {
        &:first-child {
          grid-column: 1/-1;
        }
      }
    }
  }
}
